################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/MCD.API/.vs/MCD.API/v15/Server/sqlite3
/.vs
/api/MCD.API/MCD.API/obj
